.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 30px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 42px;
}

.navbar__item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #2B2C4F;
}

.sign__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #2B2C4F;
}

.btn__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #E1FFA0;
    background: #164038;
    border: 1px solid #164038;
    border-radius: 100px;
    padding: 11px 25px;
    margin-left: 24px;
}