.intro-section {
    background: #0C2520;
    border-radius: 0px;
    height: 1089px;
}

.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 159px;
    padding-bottom: 89px;
}

.xref__head {
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 14px;
}

.xref__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
    color: #ffffff;
    max-width: 338px;
}

.simple__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #E1FFA0;
    margin-top: 29px;
    margin-bottom: 16px;
}

.simple__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    max-width: 527px;
}

.card__box {
    display: flex;
    align-items: center;
    gap: 32px;
}

.card {
    padding: 32px;
    width: 380px;
    height: 430px;
    background: #164038;
    border-radius: 4px;
}

.card__head {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 143px;
}

.card__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    color: #ffffff;
    max-width: 320px;
    margin-bottom: 13px;
}

.pulse {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    padding: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.soon {
    font-weight: 400;
    font-size: 29px;
    line-height: 34px;
    color: #E1FFA0;
}

.new {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #164038;
    background: #E1FFA0;
    border-radius: 2px;
    padding: 4px;
}

.card__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
}