.teams-section {
    margin-bottom: 158px;
}

.teams {
    display: flex;
    justify-content: space-between;
}

.needs {
    display: flex;
    justify-content: space-between;
}

.talent__title {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(12, 37, 32, 0.1);;
}

.teams__title {
    margin-bottom: 91px;
}

.teams__head {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 14px;
}

.teams__for {
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
    color: #333333;
    max-width: 408px;
    margin-bottom: 52px;
}

.talent__title {
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #0C2520;
    margin-bottom: 24px;
}

.talent__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    max-width: 481px;
    margin-bottom: 22px;
}

.talent__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #164038;
    margin-bottom: 35px;
}

.people {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #0C2520;
    margin-bottom: 24px;
}

.people__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    max-width: 420px;
    margin-bottom: 3px;
}

.people__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #164038;
    margin-bottom: 15px;
}

.firms__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 13px;
}

.firms__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #164038;
}

.needs__head {
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 14px;
}

.needs__unique {
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
    color: #333333;
    max-width: 470px;
    margin-bottom: 19px;
}

.needs__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #333333;
    max-width: 456px;
    margin-bottom: 57px;
}

.not__all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.for__title {
    margin-top: 26px;
}

.for {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #164038;
    padding-bottom: 14px;
    margin-right: 50px;
}

.retail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for__img {
    border: 1px solid rgba(12, 37, 32, 0.098);
    border-radius: 100px;
    padding: 11px;
}